a:visited, a:focus, a:active, a:hover {
  outline:0 none !important;
  cursor: hover;
}
button:visited, button:focus, button:active, button:hover {
  outline:0 none !important;
  cursor: hover;
}
body {
	margin: 0;
	padding: 0;
}